.cuaderno {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 400px;
}
.ancho {
  width: 500px;
  margin: 0 auto;
}

.bloque {
  display: inline-block;
  width: 94%;
  font-size: 30px;
  border: none;
}
.hoja {
  border: 1px solid grey;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 7px;
  background-color: #036666;
  color: white;
  font-weight: bold;
}
.hoja:hover {
  background-color: #057c7c;
  color: #99e2b4;
}
.span:hover {
  color: #da5d5d;
}
.sinP {
  padding-left: 0;
}
.h-1 {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  color: #036666;
  font-size: 50px;
  font-weight: 400;
}

.input {
  padding: 5px;
  background-color: #99e2b4;
  color: #036666;
  font-weight: bold;
}
.sombra {
  -webkit-box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
    -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 8px 0px 0px 0px #dcd0c0, 0px 8px 0px 0px #b1938b,
    -8px 0px 0px 0px #4e4e56, 0px 0px 0px 8px #da635d,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.span {
  float: right;
  text-align: center;
}
.check {
  font-size: 40px;
  background-color: #99e2b4;
}
.fondocolor {
  background-color: #99e2b4;
}

.check:hover {
  color: #da5d5d;
}
